<form #form="ngForm" (ngSubmit)="log(form.value)">
  <div class="form-group">
    <label for="CourseName">
      Course Name
    </label>
    <input
      required
      minlength="3"
      ngModel
      name="CourseName"
      #CourseName="ngModel"
      type="text"
      id="CourseName"
      class="form-control">
    <div
    class="alert alert-danger"
    *ngIf="CourseName.touched && !CourseName.valid"
    >
      <div *ngIf="CourseName.errors?.['required']">Course Name is required</div>
      <div *ngIf="CourseName.errors?.['minlength']">
        Course Name should be at least
        {{ CourseName.errors?.['minlength'].requiredLength}} characters</div>
    </div>
  </div>

  <div class="form-group">
    <label for="category">Category</label>
    <select required ngModel name="category" id="category" class="form-control" #cat="ngModel">
      <option value=""></option>
      <option
        [value]="course"
        *ngFor="let course of category">
        {{ course }}
      </option>
    </select>
    <div class="alert alert-danger" *ngIf="cat.touched && cat.invalid">
      you should select at least one of those options
    </div>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel name="money-back"> 30-day money-back guarantee
    </label>
  </div>

  <p> {{ form.value | json }} </p>
  <button class="btn btn-primary" [disabled]="!form.valid">Submit</button>
</form>
